@{
    ViewBag.Title = "Home Page";
}
<html>
<style>
    body, h1 {
        font-family: 'Bangers', cursive;
    }

    body, html {
        height: 100%
    }
</style>

<body>
    <div class="bgimg shop-display-container shop-animate-opacity shop-text-white">
        
        <div class="shop-display-middle">
            <h1 class="shop-jumbo shop-animate-top">VISOI SHOP</h1>
            <hr class="shop-border-grey" style="margin:auto;width:60%;">
            <p class="shop-large shop-center">Shop online, free no‑contact delivery, and more.</p>
        </div>
        
    </div>
</body>



</html>