@{
    ViewBag.Title = "Home Page";
}






<div class="jumbotron">
    <h1>Visoi Shop</h1>
    <p class="lead">Welcome to our Shop</p>
</div>


<div class="row">
    @foreach (var product in ViewBag.Products)
    {
        <div class="col-md-6 row-style">
            <h2 class="font-roboto">@product.Title</h2>
            <p class="truncate font-montserrat">
                @product.Description
            </p>
            <a class="btn btn-sm btn-success" href="/Products/Show/@product.Id">Vezi in magazin</a>
        </div>
    }
</div>

