@{
    ViewBag.Title = "Home Page";
}
<html>
<style>
    body, h1 {
        font-family: 'Bangers', cursive;
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('img.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
    .w3-display-container {
        position: relative;
    }
    .w3-animate-opacity {
        animation: opac 0.8s;
    }
    .w3-display-topleft {
        position: absolute;
        left: 0;
        top: 0
    }
    .w3-padding-large {
        padding: 12px 24px !important;
    }
    .w3-xlarge {
        font-size: 24px !important;
    }
    .w3-display-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    .w3-jumbo {
        font-size: 100px !important;
    }
    .w3-border-grey {
        border-color: #9e9e9e !important;
    }
    .w3-large {
        font-size: 30px !important;
    }
    .w3-center {
        text-align: center !important;
    }
    .w3-display-bottomleft {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .w3-padding-large {
        padding: 12px 24px !important;
    }
</style>

<body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">VISOI SHOP</h1>
            <hr class="w3-border-grey" style="margin:auto;width:60%;">
            <p class="w3-large w3-center">Va pwp pe toti(bine pe animatii Mihaita)</p>
        </div>
        <div class="w3-display-bottomleft w3-padding-large">
            Powered by <a href="https://www.youtube.com/watch?v=kw80blg7-g8" target="_blank">CLICK AICI PT A NE SUSTINE FINANCIAR</a>
        </div>
    </div>
</body>



</html>