
@{
    ViewBag.Title = "Finalizare";
}

<h2>Finalizare</h2>

<h2>Comanda a fost plasata! Total: @ViewBag.total <i class="glyphicon glyphicon-euro"></i> </h2>
<br />
<a class="btn btn-primary" href="/Products/Index">Inapoi la produse</a>
<br/>
