@model OnlineShop.Models.Category

@{
    ViewBag.Title = "Index";
}

<h1>Afisare Categorii</h1>

@foreach (OnlineShop.Models.Category category in ViewBag.Categories)
{
    @Html.Partial("CategoryInfo", category);
}
<br />
<a href="/Categories/New">Adauga categorie</a>
<br />