@model OnlineShop.Models.Product

@{
    ViewBag.Title = "Index";
}


@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<h2>Afisare produse</h2>

@foreach (OnlineShop.Models.Product product in ViewBag.Products)
{
    if (product.Activat == true)
    {
        <div class="panel panel-default">
            @Html.Partial("ProductInfo", product)
            <div class="panel-footer">
                <a class="btn btn-success" href="/Products/Show/@product.Id"> Afisare produs </a>
            </div>
        </div>
    }


}


