@model OnlineShop.Models.Product

@{
    ViewBag.Title = "Index";
}


@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<h2>Afisare produse</h2>

@Html.DropDownList("ProductDropDown", new List<SelectListItem>
{
    new SelectListItem{ Text="Nimic", Value = "aaa"},
    new SelectListItem{ Text="Pret Crescator", Value = "pret_cresc",Selected = true },
    new SelectListItem{ Text="Pret Descrescator", Value = "pret_desc" },
    new SelectListItem{ Text="Rating Crescator", Value = "rating_cresc" },
    new SelectListItem{ Text="Rating Descrescator", Value = "rating_desc" },
 })
<br />
<br />

<th>
    @Html.ActionLink("Buton", "Index")
</th>
<br />
<br />

@foreach (OnlineShop.Models.Product product in ViewBag.Products)
{
    if (product.Activat == true)
    {
        <div class="panel panel-default">
            @Html.Partial("ProductInfo", product)
            <div class="panel-footer">
                <a class="btn btn-success" href="/Products/Show/@product.Id"> Afisare produs </a>
            </div>
        </div>
    }


}


