@model OnlineShop.Models.Product

@{
    ViewBag.Title = "Index";
}

<h1>Afisare produse</h1>

@foreach (OnlineShop.Models.Product product in ViewBag.Products)
{
    @Html.Partial("ProductInfo", product);
}


